<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все посты по тегу {{ selected_tag }}</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<main>

    <a href="/" class="link">Назад</a>

    <h1>Посты по тегу “{{ selected_tag }}”</h1>

    <div class="post">
        {% for item in selected_tags %}
        <hr>
            <img src="{{ item.pic }}" width="100%" alt="">
            <p>{{ item.content }} </p>
        {% endfor %}
    </div>

    <hr>

    <a href="/post" class="button">Добавить пост</a>

</main>
</body>
</html>
